* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMonoNL Nerd Font Mono, Material Design Icons;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: #3b4252;
    color: white;
}

#workspaces {
	background-color: #4c566a;
    font-size: 20px;
}
#workspaces button {
    padding: 0px 6px;
    color: #eceff4;
    font-size: 20px;
}

#workspaces button.active {
    color: #2e3440;
    background-color: #88c0d0;
    font-size: 20px;
}

#workspaces button:hover {
	background-color: #81a1c1;
    font-size: 20px;
}

#pulseaudio, #network, #clock, #tray {
	background-color: #4c566a;
	padding: 0px 6px;
}

#custom-launcher {
    color: #5e81ac;
    padding: 0px 10px;
    font-size: 20px;
}

#custom-power {
	color: #2e3440;
	background-color: #bf616a;
	padding: 0px 10px;
}

#clock {
    color: #2e3440;
    background-color: #b48ead;
}

#network {
    color: #2e3440;
    background-color: #d08770;
}

#pulseaudio {
    color: #2e3440;
    background-color: #ebcb8b;
    font-size: 20px;
}

#tray {
    color: #2e3440;
    background-color: #a3be8c;
}
