#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    draw_borders: false,
    show_song_table_header: true,
    
    symbols: (song: "󰈣", dir: "󱍙", marker: "󰙒"),
    
    progress_bar: (
        symbols:        ["=", ">", " "],
        track_style:    (               bg: "#2e3440"),
        elapsed_style:  (fg: "#88c0d0", bg: "#2e3440"),
        thumb_style:    (fg: "#88c0d0", bg: "#2e3440"),
    ),
    
    scrollbar: (
        symbols:        ["|", "█", "󰍠", "󰍝"],
        track_style:    (fg: "#eceff4"),
        ends_style:     (fg: "#eceff4"),
        thumb_style:    (fg: "#81a1c1"),
    ),
    
    browser_column_widths: [20, 38, 42],
    text_color:         "#d8dee9",
    background_color:   "#3b4252",
    header_background_color: "#2e3440",
    modal_background_color:  "#3b4252",
    tab_bar: (
        enabled: false,
        active_style: (fg: "black", bg: "#c6a0f6", modifiers: "Bold"),
        inactive_style: (),
    ),
    borders_style: (fg: "#88c0d0"),
    highlighted_item_style: (fg: "#88c0d0", modifiers: "Bold"),
    current_item_style: (fg: "black", bg: "#8fbcbb", modifiers: "Bold"),
    highlight_border_style: (fg: "#88c0d0"),
    song_table_format: [
        (
            prop: (kind: Property(Artist), style: (fg: "#e5e9f0"), default: (kind: Text("Unknown"))),
            width: "50%",
            alignment: Right,
        ),
        (
            prop: (kind: Text("-"), style: (fg: "#eceff4"), default: (kind: Text("Unknown"))),
            width: "1",
            alignment: Center,
        ),
        (
            prop: (kind: Property(Title), style: (fg: "#d8dee9"), default: (kind: Text("Unknown"))),
            width: "50%",
        ),
    ],
    header: (
        rows: [
            (
                left: [
                    (kind: Text("["), style: (fg: "#88c0d0", modifiers: "Bold")),
                    (kind: Property(Status(State)), style: (fg: "#88c0d0", modifiers: "Bold")),
                    (kind: Text("]"), style: (fg: "#88c0d0", modifiers: "Bold"))
                ],
                center: [
                    (kind: Property(Song(Artist)), style: (fg: "#ebcb8b", modifiers: "Bold"),
                        default: (kind: Text("Unknown"), style: (fg: "#eed49f", modifiers: "Bold"))
                    ),
                    (kind: Text(" - ")),
                    (kind: Property(Song(Title)), style: (fg: "#81a1c1", modifiers: "Bold"),
                        default: (kind: Text("No Song"), style: (fg: "#81a1c1", modifiers: "Bold"))
                    )
                ],
                right: [
                    (kind: Text("[Vol: "), style: (fg: "#88c0d0", modifiers: "Bold")),
                    (kind: Property(Status(Volume)), style: (fg: "#88c0d0", modifiers: "Bold")),
                    (kind: Text("%]"), style: (fg: "#88c0d0", modifiers: "Bold"))
                ]
            )
        ],
    ),
)
